{% load static %}
{% load gravatar %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>{{ title }}</title>
        <meta name="description" content="{{ content }}">
        <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.14.0/css/all.min.css">
        <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container-fluid"><a href="/"><img src="{% static 'img/SAST.png' %}" width="60" height="60"></a>
        {% if searchbox %}
            <div class="search-box"><form action="/search/" method="GET"><input id="input" type="text" placeholder=" " name="q" value="{{ keywords }}"></form><span></span></div>
        {% endif %}
        <span class="navbar-text actions">
            {% if request.session.is_login %}
            <a class="login" href="/logout">Log Out</a>
            <a  target="_blank" href="https://cn.gravatar.com/" rel="noopener noreferrer"><img class="user-avatar" src="{{ request.session.user_email|gravatar_url:128 }}"></a>
            {% else %}
            <a class="login" href="/login">Log In</a>
            <a class="btn btn-light action-button" role="button" href="/signup">Sign Up</a>
            {% endif %}
        </span>
        </div>
    </nav>
    {% block main_block %}
    {% endblock main_block %}
    <footer id="footer">
    <div style= "background: white; text-align: center; margin: 0px; padding:10px">
        <p style= "color:grey; font-family: raleway">&copy;2020&nbsp;<a target="_blank" href="https://github.com/prnake/search_engine_demo" rel="noopener noreferrer">Papersnake</a><span class="my-face">&nbsp;(=^･ｪ･^=)ﾉ<span style='color:lightpink'>♥</span></span></p>
    </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/style.js' %}"></script>
    </body>
</html>