{% extends 'base.html' %}
{% load static %}
{% block main_block %}
    <main>
        <div class="container">
            <h1 class="post-detail-title">{{ post.title }}</h1>
            <p class="post-detail-info">{{ post.department }}  <a href="/teacher/{{ post.teacher_id }}">{{ post.teacher }}</a></p>
            <div class="post-detail-content">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                        {% for msg in params %}
                        <tr>
                            <td style="width:20%">
                                {{ msg.0 }}
                            </td>
                            <td>
                                {{ msg.1 }}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                  </div>
            </div>
        </div>
    </main>
{% endblock main_block %}
