{% extends 'base.html' %}
{% load static %}
{% block main_block %}
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container-fluid"><a href="/"><img src="{% static 'img/SAST.png' %}" width="60" height="60"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav mr-auto"></ul><span class="navbar-text actions"> <a class="login" href="/login">Log In</a><a class="btn btn-light action-button" role="button" href="/signup">Sign Up</a></span></div>
        </div>
    </nav>
    <main>
        <div class="search-area"><img src="{% static 'img/SAST.png' %}" width="200" height="200">
            <div class="search-box"><form action="/search/" method="GET"><input type="text" name="q" placeholder="Enter Something ..."><span></span></form></div>
        </div>
    </main>
{% endblock main_block %}
