{% extends 'base.html' %}
{% load static %}
{% block main_block %}
    <main>
        <div class="login-card">
            <img class="profile-img-card" src="../static/img/avatar_2x.png">
            <p class="profile-name-card"> </p>
            <form class="form-signin" action="{% url "login" %}" method="post">
                {%csrf_token%}
                {% if login_form.captcha.errors %}
                    <div class="alert alert-warning">{{ login_form.captcha.errors }}</div>
                {% elif message %}
                    <div class="alert alert-warning">{{ message }}</div>
                {% endif %}
                <span class="reauth-email"> </span><input class="form-control" type="email" id="inputEmail" required="" placeholder="Email address" name="email" autofocus=""><input class="form-control" type="password" name="password" id="inputPassword" required="" placeholder="Password">
                {{ login_form.captcha.label_tag }}
                {{ login_form.captcha }}
                <div class="checkbox">
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Remember me</label></div>
        </div><button class="btn btn-primary btn-block btn-lg btn-signin" type="submit">Log in</button></form><a class="forgot-password" href="/signup">Forgot your password?</a>
        </div>

    </main>
{% endblock main_block %}
