{% extends 'base.html' %}
{% load static %}
{% block main_block %}
    <main>
        <div class="login-card" ><img class="profile-img-card" src="../static/img/avatar_2x.png">
            <p class="profile-name-card"> </p>
            <form class="form-signin" action="{% url "signup" %}" method="post">
                {%csrf_token%}
                {% if register_form.captcha.errors %}
                    <div class="alert alert-warning">{{ register_form.captcha.errors }}</div>
                {% elif message %}
                    <div class="alert alert-warning">{{ message }}</div>
                {% endif %}
                <span class="reauth-email"> </span><input class="form-control" type="email" id="inputEmail" required="" placeholder="Email address" autofocus="" name="email"><input class="form-control" type="password" id="inputPassword" required="" placeholder="Password" name="password"><input class="form-control" type="password" id="inputPassword" required="" placeholder="Repeat password" name="password_repeat">
                {{ register_form.captcha.label_tag }}
                {{ register_form.captcha }}
                <button class="btn btn-primary btn-block btn-lg btn-signin" type="submit">Sign up</button>
            </form><a class="forgot-password" href="/login">Already have a account?</a></div>
    </main>
{% endblock main_block %}
