{% extends 'base.html' %}
{% load static %}
{% block main_block %}
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container-fluid"><a href="/"><img src="{% static 'img/SAST.png' %}" width="60" height="60"></a>
            <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav mr-auto"></ul><span class="navbar-text actions"> <a class="login" href="/login">Log In</a><a class="btn btn-light action-button" role="button" href="/signup">Sign Up</a></span></div>
        </div>
    </nav>
    <main>
        <div class="login-card"><img class="profile-img-card" src="../static/img/avatar_2x.png">
            <p class="profile-name-card"> </p>
            <form class="form-signin"><span class="reauth-email"> </span><input class="form-control" type="email" id="inputEmail" required="" placeholder="Email address" autofocus=""><input class="form-control" type="password" id="inputPassword" required="" placeholder="Password">
                <button
                    class="btn btn-primary btn-block btn-lg btn-signin" type="submit">Sign up</button>
            </form><a class="forgot-password" href="/login">Already have a account?</a></div>
    </main>
{% endblock main_block %}
